In [3]:
for i in (8)
      print(i)

SyntaxError: invalid syntax (<ipython-input-3-37e4497cc999>, line 1)

In [4]:
import pandas as pd

In [6]:
pd.read_csv("surveys.csv")

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [7]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 0C94-4BC6

 Directory of C:\Users\owner\Desktop\BCB_546X\BCB546X-Fall2017\python-bcb546

10/25/2017  01:46 PM    <DIR>          .
10/25/2017  01:46 PM    <DIR>          ..
10/25/2017  01:38 PM    <DIR>          .ipynb_checkpoints
10/25/2017  01:46 PM            31,399 Python Practice Book.ipynb
10/25/2017  01:33 PM               283 README.md
10/25/2017  01:33 PM    <DIR>          scripts
10/25/2017  01:33 PM             1,660 species.csv
10/25/2017  01:33 PM         1,057,212 surveys.csv
               4 File(s)      1,090,554 bytes
               4 Dir(s)  182,793,019,392 bytes free

In [8]:
pwd

'C:\\Users\\owner\\Desktop\\BCB_546X\\BCB546X-Fall2017\\python-bcb546'

In [9]:
surveys_df = pd.read_csv("surveys.csv")

In [10]:
surverys_df

NameError: name 'surverys_df' is not defined

In [11]:
print(surveys_df)

       record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0              1      7   16  1977        2         NL    M             32.0
1              2      7   16  1977        3         NL    M             33.0
2              3      7   16  1977        2         DM    F             37.0
3              4      7   16  1977        7         DM    M             36.0
4              5      7   16  1977        3         DM    M             35.0
5              6      7   16  1977        1         PF    M             14.0
6              7      7   16  1977        2         PE    F              NaN
7              8      7   16  1977        1         DM    M             37.0
8              9      7   16  1977        1         DM    F             34.0
9             10      7   16  1977        6         PF    F             20.0
10            11      7   16  1977        5         DS    F             53.0
11            12      7   16  1977        7         DM    M             38.0
12            13      7   16  1977        3         DM    M             35.0
13            14      7   16  1977        8         DM  NaN              NaN
14            15      7   16  1977        6         DM    F             36.0
15            16      7   16  1977        4         DM    F             36.0
16            17      7   16  1977        3         DS    F             48.0
17            18      7   16  1977        2         PP    M             22.0
18            19      7   16  1977        4         PF  NaN              NaN
19            20      7   17  1977       11         DS    F             48.0
20            21      7   17  1977       14         DM    F             34.0
21            22      7   17  1977       15         NL    F             31.0
22            23      7   17  1977       13         DM    M             36.0
23            24      7   17  1977       13         SH    M             21.0
24            25      7   17  1977        9         DM    M             35.0
25            26      7   17  1977       15         DM    M             31.0
26            27      7   17  1977       15         DM    M             36.0
27            28      7   17  1977       11         DM    M             38.0
28            29      7   17  1977       11         PP    M              NaN
29            30      7   17  1977       10         DS    F             52.0
...          ...    ...  ...   ...      ...        ...  ...              ...
35519      35520     12   31  2002        9         SF  NaN             24.0
35520      35521     12   31  2002        9         DM    M             37.0
35521      35522     12   31  2002        9         DM    F             35.0
35522      35523     12   31  2002        9         DM    F             36.0
35523      35524     12   31  2002        9         PB    F             25.0
35524      35525     12   31  2002        9         OL    M             21.0
35525      35526     12   31  2002        8         OT    F             20.0
35526      35527     12   31  2002       13         DO    F             33.0
35527      35528     12   31  2002       13         US  NaN              NaN
35528      35529     12   31  2002       13         PB    F             25.0
35529      35530     12   31  2002       13         OT    F             20.0
35530      35531     12   31  2002       13         PB    F             27.0
35531      35532     12   31  2002       14         DM    F             34.0
35532      35533     12   31  2002       14         DM    F             36.0
35533      35534     12   31  2002       14         DM    M             37.0
35534      35535     12   31  2002       14         DM    M             37.0
35535      35536     12   31  2002       14         DM    F             35.0
35536      35537     12   31  2002       14         DM    F             36.0
35537      35538     12   31  2002       15         PB    F             26.0
35538      35539     12   31  2002       15         SF    M             26.0
35539      35540     12   31  2002       15         PB    F             26.0
35540      35541     12   31  2002       15         PB    F             24.0
35541      35542     12   31  2002       15         PB    F             26.0
35542      35543     12   31  2002       15         PB    F             27.0
35543      35544     12   31  2002       15         US  NaN              NaN
35544      35545     12   31  2002       15         AH  NaN              NaN
35545      35546     12   31  2002       15         AH  NaN              NaN
35546      35547     12   31  2002       10         RM    F             15.0
35547      35548     12   31  2002        7         DO    M             36.0
35548      35549     12   31  2002        5        NaN  NaN              NaN

       weight
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
...       ...
35519    36.0
35520    48.0
35521    45.0
35522    44.0
35523    27.0
35524    26.0
35525    24.0
35526    43.0
35527     NaN
35528    25.0
35529     NaN
35530     NaN
35531    43.0
35532    48.0
35533    56.0
35534    53.0
35535    42.0
35536    46.0
35537    31.0
35538    68.0
35539    23.0
35540    31.0
35541    29.0
35542    34.0
35543     NaN
35544     NaN
35545     NaN
35546    14.0
35547    51.0
35548     NaN

[35549 rows x 9 columns]

In [12]:
type(surveys_df)

pandas.core.frame.DataFrame

In [13]:
surveys_df.__class__

pandas.core.frame.DataFrame

In [14]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [15]:
surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [16]:
surveys_df.head(4)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN

In [17]:
surveys_df.tail(4)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [18]:
surveys_df.shape

(35549, 9)

In [19]:
column_names = list (surverys_df.columns)

NameError: name 'surverys_df' is not defined

In [20]:
surveys_df.columns.values

array(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'], dtype=object)

In [21]:
pd.unique(surveys_df['species_id'])

array(['NL', 'DM', 'PF', 'PE', 'DS', 'PP', 'SH', 'OT', 'DO', 'OX', 'SS',
       'OL', 'RM', nan, 'SA', 'PM', 'AH', 'DX', 'AB', 'CB', 'CM', 'CQ',
       'RF', 'PC', 'PG', 'PH', 'PU', 'CV', 'UR', 'UP', 'ZL', 'UL', 'CS',
       'SC', 'BA', 'SF', 'RO', 'AS', 'SO', 'PI', 'ST', 'CU', 'SU', 'RX',
       'PB', 'PL', 'PX', 'CT', 'US'], dtype=object)

In [24]:
plot_names = pd.unique(surveys_df
                    ['plot_id'])

In [25]:
surveys_df['weight'].describe()

count    32283.000000
mean        42.672428
std         36.631259
min          4.000000
25%         20.000000
50%         37.000000
75%         48.000000
max        280.000000
Name: weight, dtype: float64

In [26]:
surveys_df['weight'].min()

4.0

In [27]:
surveys_df['weight'].max()

280.0

In [28]:
surveys_df['weight'].std-mean()

NameError: name 'mean' is not defined

In [29]:
surveys_df['weight'].std()

36.63125947458399